@font-face {
    font-family: 'Signika Negative';
    src: url('SignikaNegative-Light.woff2') format('woff2'),
        url('SignikaNegative-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('SignikaNegative-SemiBold.woff2') format('woff2'),
        url('SignikaNegative-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('SignikaNegative-Medium.woff2') format('woff2'),
        url('SignikaNegative-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('SignikaNegative-Regular.woff2') format('woff2'),
        url('SignikaNegative-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('SignikaNegative-Bold.woff2') format('woff2'),
        url('SignikaNegative-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

