body{
    background-color: white;
    margin: 0 auto;
    margin-right: 3.6em;
    margin-left: 3.6em;
}
.tieude>h1{
    font-size: 3em;
    text-align: center;
}
.chiacot{
    display: flex;
    display: grid;
    grid-template-columns:auto auto ;
}
.tintuc{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.tintuc1{
    width: 50%;
    height: 15em;
    display: flex;
    
}
.tintuc>.tintuc1>.anh>img{
    width: 24.9rem;
    height: 14.4rem;
    object-fit: cover;
}
.content{
    margin-left: 1em;
}
.tintuc1>.content>h1{
    font-size: 1.625em;
}
.tintuc1>.content>h5{
    font-size: 0.9375em;
}
.btn-group a {
    border: 2px solid black;
    color: black;
    padding: 0.55em 1.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    float: left;
    border-radius: 0.4em;
  }
  
  .btn-group a:not(:last-child) {
    border-right: none;
  }
  
  .btn-group a:hover {
    background-color: black;
    color: white;
  }




/* Chi tiết */
body{
    background-color: white;
}
.trang-chi-tiet{
    /* margin-left: 2em; */
}
.trang-chi-tiet>table{
    width: 20%;
}
.trang-chi-tiet>.content>p{
    font-size: 1.3em;
}
.trang-chi-tiet>.content>img{
    display: block;
    margin: 0 auto;;
    width: 30em;
    height: 30em;
}
.trang-chi-tiet>.content>.mo-ta{
    text-align: center;
}