/* menu admin */
@font-face {
    font-family: Mergeblack;
    src: url(MergeBlack.woff);
  }

  * {
    padding: 0 0;
    margin: 0 0;
  }
  :root {
    --top-begin: 0px;
    --top-end: 0px;
    --height-begin: 40px;
    --height-end: 50px;
  }
  body {
    font-family: system-ui;
    height: 100vh;
    padding: 0 0;
    margin: 0 0;
    background-image: radial-gradient(ellipse at left, #2d193b, #090a20);
  }
  
  .container-menu {
    width: 100%;
    height: 100vh;
  }
  /* .container-row-content {
    margin-left: 260px;
  } */
  .container-row-content h2 {
    margin-top: 30px;
    color: #c45ab3;
    text-align: center;
    font-size: 28px;
    /* background-image: linear-gradient(to bottom, #C45AB3, #DD789A);; */
    font-family: Mergeblack;
  }
  .order-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  .order-row {
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .order-row span {
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  .order-row p {
    font-size: 25px;
    color: #878686;
    font-family: "Signika Negative";
    font-weight: bold;
  }
  .order-row i {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
  }
  /* Hide and show projects & skills */
  .row-content-mid {
    margin: 50px 0;
  }
  .list-chart table {
    width: 100%;
    color: white;
    text-align: center;
  }
  .list-chart table tr th {
    font-size: 25px;
    font-family: "Signika Negative";
    font-weight: bold;
  }
  .list-chart table {
    margin: 20px 0;
  }
  .list-chart table td {
    height: 70px;
  }
  .list-chart table tr td {
    font-size: 20px;
  
    font-weight: 500;
    font-family: "Signika Negative";
  }
  .menu {
    background-color: rgb(42, 36, 77, 0.2);
    width: 230px;
    height: 100vh;
    position: fixed;
    padding: 10px 0;
    border-radius: 20px;
    margin: 60px 0 30px 10px;
    font-size: 19px;
  }
  
.menu-ad {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    position: relative;
  }
  .menu-ad li {
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #757474;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 1s;
    font-family: Mergeblack;
  }
  
  .menu-ad li i {
    width: 30px;
    /* font-size: 15px; */
    position: relative;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .menu-ad li::before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 40px;
    height: 100%;
    content: "";
    background-color: #312b57;
    border-radius: 30px;
    transition: 1s;
  }
  li i:nth-child(2) {
    position: absolute;
    right: 0;
    top: 15px;
    transition: 0.5s;
    opacity: 0.5;
  }
  
  .menu-ad li li {
    margin-bottom: unset;
    margin-top: 10px;
    padding-left: 50px;
    opacity: 0;
    animation: shochild 1s ease 1 forwards;
    position: relative;
    z-index: 1;
  }
  @keyframes shochild {
    from {
      opacity: 0;
      transform: translate(0, -20px);
    }
    to {
      opacity: 1;
    }
  }
  
  li li:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  ul li li::before {
    position: absolute;
    left: 13px;
    top: 50%;
    width: 5px;
    height: 5px;
    content: "";
    background-color: #dd789a;
    z-index: 1;
    transition: 1s;
  }
  
  ul li li:nth-child(1),
  ul li li:nth-child(1)::before {
    transition-delay: 1.2s;
  }
  ul li li:nth-child(2),
  ul li li:nth-child(2)::before {
    transition-delay: 1.4s;
  }
  ul li li:nth-child(3),
  ul li li:nth-child(3)::before {
    transition-delay: 1.6s;
  }
  ul li li:nth-child(2) {
    animation-delay: 0.2s;
  }
  ul li li:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  ul ul {
    position: relative;
    display: none;
    transition: 1s;
  }
  
  .showMenuChild {
    transform: rotate(180deg);
  }
  
  .showMenuChild ~ ul {
    display: block;
  }
  #action {
    background-color: red;
    position: absolute;
    width: 40px;
    height: var(--height-end);
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #c45ab3, #dd789a);
    top: var(--top-end);
    left: 5px;
    transition: 1s;
  }
  .active li::before {
    background-color: #eee;
  }
  .runanimation {
    animation: animationaction 1s ease-in 1;
  }
  .active,
  .active li {
    color: #fff;
  }
  
  @keyframes animationaction {
    0% {
      height: var(--height-begin);
      top: var(--top-begin);
    }
    30% {
      height: var(--height-begin);
      width: 10px;
      height: 10px;
      transform: translate(15px);
    }
    50% {
      filter: none;
      height: 10px;
    }
    70% {
      width: 10px;
      transform: translate(15px);
      filter: blur(3px);
    }
    100% {
    }
  }
  .item a {
    text-decoration: none;
    color: #757474;
  }
  .item.active a {
    text-decoration: none;
    color: white;
  }
  .item.active::before {
    background-color: #c45ab3;
  }
  /*   loai hang*/
  
  .btns-submit button {
    background-color: #c45ab3;
    color: white;
    padding: 5px 13px;
    border-radius: 10px;
    font-family: Mergeblack;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 5px;
  }
  
  .checkbox-rect {
    position: relative;
  }
  .checkbox-rect input[type="checkbox"] {
    position: absolute;
    top: 25px;
    left: 41px;
    width: 25px;
    height: 25px;
    opacity: 0;
    z-index: 10;
  }
  .checkbox-rect .checkmark {
    width: 20px;
    height: 20px;
    background-color: white;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
  }
  .checkbox-rect .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .checkbox-rect input[type="checkbox"]:checked ~ .checkmark {
    background: #c45ab3;
  }
  
  .checkbox-rect input[type="checkbox"]:checked ~ .checkmark:before {
    display: block;
  }
  button a {
    text-decoration: none;
    color: white;
  }
  ul a {
    text-decoration: none;
  }
  td a {
    text-decoration: none;
    color: #c45ab3;
  }
  /* form them mới lh*/
  
  .form-add-lh {
    width: 50%;
    margin: 30px auto;
  }
  .form-add-lh .form-group-add {
    width: 100%;
    margin: 30px 0;
  }
  .form-add-lh .form-group-add label {
    width: 100%;
    font-size: 23px;
    font-family: "Signika Negative";
    font-weight: bold;
    color: white;
  }
  label {
    width: 100%;
    font-size: 23px;
    font-family: "Signika Negative";
    font-weight: bold;
    color: white;
  }
  .form-add-lh .form-group-add .form-control-add {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  .form-group-add button {
    background-color: #c45ab3;
    color: white;
    padding: 5px 13px;
    border-radius: 10px;
    font-family: Mergeblack;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 5px;
  }
  
  /*form them mới hh*/
  .form-add-hh {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-add-hh .form-group-hh {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .khach_hang_add label {
    min-width: 100%;
    font-size: 23px;
    font-family: "Signika Negative";
    font-weight: bold;
    color: white;
  }
  .form-add-hh .form-control-hh {
    padding: 14px 10px;
    margin: 10px 0;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: white;
  }
  .form-add-hh .form-control-hh input[type="radio"] {
    margin: 0 15px;
  }
  
  .binh_luan_show table tr {
    margin: 40px 0;
    height: 100px;
  }
  .binh_luan_show table tr th {
    font-size: 22px;
  }
  .binh_luan_show table tr td {
    font-size: 19px;
  }
  .binh_luan_show table tr td select {
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    font-family: "Signika Negative";
    font-weight: bold;
  }
  .bai_viet_show table tr td:nth-child(2) {
    width: 23%;
  }
  .bai_viet_show table tr {
    padding: 20px 0;
    height: 90px;
  }
  
  .icon_product {
    color: white;
  }
  
  .btn_product {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 20px;
  }
  button a{
    display: block;
  }