.product-detail {
  font-family: "Signika Negative";
  color: black;
}
.img-fluid{
  max-width: 100%;
  height: 20rem;
}
.buy-amount {
  height: 30px;
  text-align: center;
  width: 150px;
  background-color: rgba(217, 217, 217, 1);
  align-items: center;
  border-radius: 10px;
}
.buy-amount span {
  background-color: rgba(217, 217, 217, 1);
  padding: 0 5px;
  cursor: pointer;
  display: inline-block;
}
.input-amount {
  font-weight: 700;
  padding: 0;
  width: 50px;
  height: 100%;
  border: none;
  background-color: rgba(217, 217, 217, 1);
}

.buy-amount input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn-add-cart {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #f1f397;
  color: black;
  font-weight: 700;
  border: none;
}

.btn-add-cart:hover {
  background-color: #d9db88;
}
.size-guide p {
  font-size: 23px;
  font-weight: 500;
  /* font-family: "Signika Negative"; */
}
.small-img-col:hover {
  border: 1px solid #333;
}

.group-btn-size button:hover {
  background-color: #d9db88 !important;
}

.description-cotent {
  line-height: 1.6 !important;
}

hr {
  border-top: 3px solid #000 !important;
  width: 94%;
  margin: 50px auto !important;
}

.btn-size:focus {
  background-color: #d9db88 !important;
}
