.text-animation{
    /* background: linear-gradient(to bottom, #F1CD71 0%, #F1EBDB 54%, #FFB801 30%);  */
    background-image: linear-gradient(0deg , #F1EBDB, #F1CD71);
    /* background-clip: text; */
    color: transparent;
    margin-top: 4px;
    /* font-size: 30px; */
    height: 8em;
}
marquee{
    color: black;
    z-index: 10;
   
    font-size: 30px;
    line-height: 4em;
}
#sanpham{
    display: flex;
    font-family: Mergeblack;
    flex-wrap: wrap;
flex-direction: row;
margin: 20px 0;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.row-sp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.flex-row-sp{
    width: 25%;
    display: flex;
  text-align: center;
  flex-wrap: wrap;
flex-direction: row;
justify-content: center;
margin: 20px 0;
}
.sp img{

    height: 20rem;
    border-radius: 10px;
   /* width: 100%; */
   object-fit: cover;
}

a{
    text-decoration: none;

}
.sp{
    transition: all 0.3s;
    border-radius: 10px;
    /* width: 100%; */
    width: 18rem;

}
.sp h5{
    font-size: 17px;
    padding: 10px 0;
    color: rgb(73, 72, 72);

}
.sp:hover{
    transform: translateY(-3%);
    color: rgb(0, 0, 0);
    text-decoration: none;

}
.locsp{
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
}
.locsp .row-loc{
    background-color: #F1CD71;
    border-radius: 5px;
    width: 7rem;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.locsp .row-loc2 button{
    background-color: #F1CD71;
    border-radius: 5px;
    width: 7rem;
    font-size: 19px;
    border: none;
    text-align: center;
    padding: 5px;
}
.locsp .row-loc2 select{
    background-color: #e6dabc;
    border-radius: 5px;
    width: 14rem;
    font-size: 18px;
    border: none;
    color: black;
    outline: none;
    /* text-align: center; */
    padding: 5px 20px;
}
.head-shop{
    text-align: center;
    padding: 10px 0;
font-family: Mergeblack;

}
.row-sp h4 a{
    color: rgb(68, 67, 67);
}
.gia{
    color: black;
    transition: linear 0.3s;

}
.sp:hover .gia{
   transform: scale(1.1);
}

  

.hot-sale{
    margin: 20px 0;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Mergeblack;

}

.box-content-fot{
    background-color: #4FA095;
    width: 80rem;
    height: 27rem;
    margin:20px auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

}
.text-content-fot{
    font-size: 40px;
    color: #F1EBDB;
    padding: 10rem 4rem;
}

.img-fot1{
    position: absolute;
    top: -5%;
    right: 6%;
    border-radius: 10px;

    transform: rotate(20deg);
    width: 16rem;
    /* right: 0; */
    height: 30rem;
    object-fit: cover;
}
.img-fot2{
    position: absolute;
    top: 0;
    right: 34%;
    border-radius: 10px;
    transform: rotate(20deg);
    width: 14rem;
    /* right: 0; */
    height: 30rem;
    object-fit: cover;
}
.sp {
    position: relative;
    overflow: hidden;

}
.hover-img{
    position: absolute;
    display: none;
    top: 0;
    overflow-y: hidden;
    left: 0;
    /* opacity: 0; */
    /* transform: translateY(-100%); */
}
.sp:hover .hover-img{
    /* transform: rotate(30deg); */
    display: block;
    /* transform: translateX(0%); */
    animation: ex 0.5s ease-in;
    animation-fill-mode: forwards;


}
@keyframes ex {
    from {opacity: 0;}
    to {opacity: 1;}
    }
