@font-face {
    font-family: Mergeblack;
    src: url(../Font/MergeBlack.woff);
}
.row_login_center{
    margin-top: 30px;
}
    .row_login_center h2{
        /* padding: 30px 0; */
        text-align: center;
        color: #C60000;
    font-family: Mergeblack;

    }
    .row_login_center .row-cn{
        display: flex;
        width: 100%;
        justify-content: center
    }
    .col-sm-4 {
        width: 30%;
    }
    .col-sm-8{
        width: 40%;

    }
    .form_login{
        width: 50%;
        margin: 0 auto;
    }
    .form-group {
        width: 50%;
        margin: 0 auto;
    }
    .btns-login{
        width: 50%;
        margin: 0 auto;
        justify-content: space-evenly;
        display: flex;
    }
    .form-controls{
        padding: 16px 5px;
        /* margin: 15px 0; */
        border-radius: 5px;
        border: none;
        outline: none;
        color: black;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: #ededed; 
        width: 100%;
    }
    .form-controls:focus{
        box-shadow: 1px 2px #888888;
        

    }

    .btn-login{
       /* width: 50%; */
      
        padding: 10px 35px;
        border:none;
        color: white;
        font-family: Mergeblack;
        font-size: 17px;
        border-radius: 10px;
       
        background-color: #C60000;
        cursor: pointer;
    }
  .form-group label{
    font-family: Mergeblack;

  }
  .back{
    padding: 15px 0 ;

display: block;
}
.back i span{
    width: 100%;
    margin-top: 15px;
}
    .btns-login a i{
        padding-right: 10px;
    }
    .btns-login {
        padding-bottom: 40px;
        font-family: Mergeblack;
  
        text-align: center;
    }
    .thongbao{
        color: red;
    }
    .form-group-gh{
        color: red;
    }